@import "tailwindcss";

@font-face {
	font-family: first;
	src: url(/fonts/Lausanne-300.woff2);
}
@font-face {
	font-family: second;
	src: url(/fonts/Lausanne-500.woff2);
}

@font-face {
	font-family: third;
	src: url(/fonts/Anta-Regular.ttf);
}

@keyframes moveAnimation {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}
.moveX {
	animation: moveAnimation 15s infinite linear;
}
